//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

.app-root-2023-ter_report .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  @import 'colors.less';
  .buttons_container {
    margin: auto auto 20px auto;
    max-width: 800px;
    vertical-align: middle;
    .button_label {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      margin-right: 5px;
      text-transform: uppercase;
    }
    .button_container {
      display: inline-block;
      margin-right: 10px;
      button {
        background-color: @ungrey;
        border: 0;
        cursor: pointer;
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px;
        outline: none;
        padding: 7px 15px;
        user-select: none;
        &:hover {
          opacity: 0.75;
        }
        &.active {
          background-color: @unblue;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
  .chart_wrapper {
    display: none;
    opacity: 0;
    &.active {
      display: block;
      opacity: 1;
      transition-duration: 500ms;
      transition-property: opacity;
    }
  }
  .chart_container {
    max-width: 800px;
    @media all and (max-width: 991px) {
      margin: auto auto 20px auto;
    }
    @media all and (min-width: 992px) {
      margin: auto auto 20px auto;
    }
    hr {
      border-color: #eeeeee;
      border-style: solid;
      border-width: 1px 0 0 0;
      margin: 0.5em 0;
    }
    .chart {
      font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
      min-height: 440px;
      opacity: 0;
      transition-duration: 500ms;
      transition-property: opacity;
      width: 100%;
      .highcharts-legend {
        pointer-events: none;
      } 
      .unctad_logo {
        float: right;
        height: 60px;
        width: 60px;
      }
      .x_axis_heading {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .tooltip_container {
        .tooltip_header {
          color: #000;
          font-size: 20px;
          line-height: 22px;
          margin: 0 0 5px 0;
        }
        .tooltip_label {
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
        }
        .tooltip_value {
          font-size: 18px;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
    .highcharts-button-hover {
      rect {
        fill: #fff;
      }
      .highcharts-button-symbol {
        stroke: @ungrey;
      }
    }
    .highcharts-button-symbol {
      stroke: #000;
    }
    .highcharts-contextmenu {
      li {
        font-size: 12px !important;
        &:hover {
          background-color: @unblue !important; 
        }
      }
    }
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@import 'basics.less';